{% extends "layout.html" %}
{% block content %}
    <div class="display">
        {% if flag %}
            <h1> This flag is from {{flag}}.</h1>
            <a href="https://wikipedia.org/wiki/{{flag}}" target="_blank">Learn more about {{flag}}!</a> 
        {% endif %}
        {% if not flag %}
            <h1> Sorry, we couln't find a match for your flag. </h1>
        {% endif %}
        <a href="/">Submit another flag.</a> 
    </div>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </p>
{% endblock %}
