<!doctype html>
<head>
    <title>Capture the flag</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../main.css') }}">
</head>
<body>
    {% if flag %}
        <h2> This flag is from {{flag}} .</h2>
    {% endif %}
    {% if not flag %}
        <h2> I'm not really sure what's going on here. </h2>
    {% endif %}
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </p>
</body>
